.form {
    width: 40%;
    text-align: left;
    margin: auto;
}

.action {
    text-align: center;
}

.logout {
    margin-top: 2em;
}

.errorMessage {
    text-align: center;
    color: rgba(255, 0, 0, 0.6);
}